aiogram
aiohttp
aiosignal
asgiref
async-timeout
attrs
Babel
certifi
charset-normalizer
emoji
frozenlist
geojson
idna
keyboard
multidict
peewee
Pillow
pip
pywin32
requests
setuptools
sqlparse
tzdata
urllib3
vboxapi
xmltodict
yarl
vboxapi
